#main-Container{
    background-image: url('../../Components/Employee-Image/employee.jpg');
    background-size: cover;
}

#main-Container::before{
    background: rgba(0, 0, 255, 0.5);
    z-index: 1;
}