.first_about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: auto;
    max-width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

.about_wrapper {
    flex: 1 1 300px;
    max-width: 50%;
    background-color: #fffbe4;
    padding: 5px;
}

.profile_first {
    max-width: 100%;
    display: flex;
    background-color: #e91e1eaf;
    padding: 10px;
}

.image_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    min-width: 3em;
    border-radius: 50%;
    margin: 1rem;
    background-color: white;
    
}

.long-content {
    margin-top: 6%;
}

.small-content {
    margin-top: 3.5%;
}

.h1 {
    margin-top: 2%;
}



.btns_pr1 {
    margin-top: 20px;
}

.btns_pr1 h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.profile_text {
    margin-top: 1.4rem;
}

.para {
    color: rgba(255, 255, 255, 0.849);
}

.h2 {
    color: rgb(3, 3, 74);
}

.btns_pr1 button {
    background-color: #e53935;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
}

.btns_pr1 button:hover {
    background-color: #d94a35;
}

.about_ {
    flex: 1 1 300px;
    max-width: 50%;
}

.about_ h2 {
    font-size: 1.8rem;
}

.about_ p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: -12px;
}

.consult {
    color: #d94a35;
}

.small-content {
    color: #d94a35;
}

.long-Content {
    font-size: small;
    color: rgba(12, 11, 11, 0.614);
}

@media (max-width: 768px) {
    .first_about {
        flex-direction: column;
        align-items: center;
    }

    .about_ .h2 {
        font-size: 21px;
    }

    .about_ .para {
        font-size: 12px;
    }

    .about_wrapper,
    .about_ {
        max-width: 100%;
    }

    .btns_pr1 button {
        width: 100%;
        margin: 10px 0;
    }
}