.main-container {
    border: 2px solid black;
    padding: 20px;
    /* No flex properties here */
}

.title-div {
    text-align: center;
}

.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.content-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.sub-content {
    flex: 1 1 calc(33% - 40px);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    max-width: 33%;
}

.nested-div {
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.icons {
    height: 2em;
    width: 4rem;
    border: 2px solid black;
    background-color: rgba(218, 65, 65, 0.749);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-align: center;
}
