.main-container {
    border: 2px solid #ddd;
    padding: 20px;
}

.title-div {
    text-align: center;
}

.title {
    font-size: 2rem;
    color: #333;
}

.content-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sub-content {
    flex: 1 1 calc(33% - 40px);
    text-align: center;
    flex-wrap: wrap;
}

.nested-div {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.icons {
    height: 2em;
    width: 4rem;
    background-color: rgba(218, 65, 65, 0.749);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-align: center;
}

@media (max-width: 1200px) {
    .title {
        font-size: 1.75rem; 
    }
    h3 {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 1.5rem; 
    }
    h3 {
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .title {
        font-size: 1.25rem; 
    }
    h3 {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 1rem; 
    }
    h3 {
        font-size: 18px;
    }
}