.client-img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;

}

.client-img:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clintImg {
    transition: transform 0.2s, box-shadow 0.2s;

}

.clintImg:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.icon-div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(209, 49, 49);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon-div i {
    font-size: 20px;
}

.icon-div:hover {
    background-color: rgb(179, 39, 39);
}
